{% extends "base.html" %}
<!DOCTYPE html>
{% block content %}
	<center><h1><font size="7" color="red">cool cool</font></h1></center>
	<table>
		<tr valign="top">
			<center>
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV3dd2X2t63KFKoceWWc6961xGn6FDZUkhcDcjxtOw8-IkQSVF"</img>
			</center>
		</tr>
	</table>

	<hr>
	<center><h1>Latest News</h1></center>
	
	The latest news for this random band guy is that he is really cool
	<br>

	<hr>
	<center><h1>Latest songs/albums/videos</h1></center>
	<body>
	<table>
		<tr valign="top">
			<center>
				<div class="owl-carousel owl-theme">
					<div class="item">
						 <iframe width="420" height="345" src="https://www.youtube.com/embed/P1bZYp0DFLk">
					 	</iframe>
						<h4>This video</h4>
					</div>
					<div clas="item">
						<iframe width="420" height="345" src="https://www.youtube.com/embed/W_pyMN-1bY4">
						</iframe>
						<h4>Dmitri is smelly</h4>
					</div>
				</div>
			</center>
		</tr>
	</table>

</div>
	</body>
{% endblock %}

